.field {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.field_block {
  border: 1px solid #7D7C7C;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 480px;
}

.field_block:focus {
  border: 1px solid rgb(48, 128, 204);
  outline: none;
}
      