.home-bottom-block {
  background: url('../../assets/images/home-bottom-block-background.jpg') no-repeat center;
  height: 798px;
  padding: 108px 0 0 0;
}

.home-bottom-block__call {
  color: white;
  font-size: 2.8em;
  text-align: center;
}