.team-edit {
    margin: 30px 0;
}

.team-edit-form {
  max-width: 600px !important;
  margin: 30px auto;

  &__field{
      display: flex;
      align-items: center;
      margin-bottom: 1.2em;

      &.--center{
          justify-content: center;
      }
  }

  &__input{
      flex: 1 0 auto;
  }

  &__label{
      width: 200px;
  }
}