.emblem {
  background-image: linear-gradient(to right, rgba(2, 137, 178, .76), rgba(45, 211, 200, .77));
  border-radius: 10px;
  box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.3);
  height: 156px;
  position: relative;
  width: 156px;

  &__img {
    background-color: rgb(232, 252, 243);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 150px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
  }
}