.emblem {
  border-radius: 10px;
  box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.3);
  height: 156px;
  position: relative;
  width: 156px;
    
  &.--medium {    
      width: 80px;
      height: 80px;
  }
    
  &.--medium &__img {    
      width: 80px;
      height: 80px;
  }
    
  &.--mini {    
      width: 40px;
      height: 40px;
  }
    
  &.--mini &__img {    
      width: 40px;
      height: 40px;
  }

  &__img {
    background-color: rgb(232, 252, 243);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 156px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 156px;
  }
}