.footer {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    font-family: Roboto;
    font-weight: 300;
    &__logo {
        font-size: 2em;
        margin: 0 46px;
    }
    &__copy {
        font-size: 1.1em;
    }
    &--background-color_dark {
        background-color: #18171D;
        color: #FFFFFF;
        min-height: 180px;
    }
    &--background-color_light {
        color: #18171D;
        font-size: .7em;
        text-align: center;

        .footer__div {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .footer__logo {
            margin-right: 10px;
        }
    }
}