.avatar {
    width: 156px;
    height: 156px;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    background-image: linear-gradient(to right, rgba(2, 137, 178, .76), rgba(45, 211, 200, .77));


        &__img{
            width: 150px;
            height: 150px;
            overflow: hidden;
            border-radius: 50%;
            background-color: rgb(232, 252, 243);
            background-position: center;
            background-size: cover;
            margin: auto;
        }
}