.home-top-block {
  align-items: center;
  background: url('../../assets/images/home-top-block-background.jpg') bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 180px 0;
  min-height: 100vh;

  &__title {
    color: white;
    font-size: 6em;
  }

  &__logo {
    font-size: 6em;
  }

  &__find-team {
    background: linear-gradient(to right, rgba(2, 137, 178, .76), rgba(45, 211, 200, .77));
    border: none;
    border-radius: 80px;
    color: white;
    font-size: 1.5em;
    height: 70px;
    margin-top: 50px;
    width: 246px;
  }

  &__find-team:hover {
    background: rgba(2, 137, 178, .76);
  }
}